@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Customizations */
:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

html {
  font-family: var(--font-geist-sans);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7fafc; /* Tailwind's gray-100 */
}
